@using Cuidadores.Core.Entities
@using Cuidadores.Core.Models
@using Cuidadores.Util.Extensions
@model Cuidadores.Web.Models.Visita.IndexVm

<h4>Agendar Visita <a href="@Url.Action("Buscar", "Pessoa")" class="btn btn-info pull-right"><i class="fa fa-calendar"></i> Nova</a></h4>

<br/>
<br/>

@if (Model.Visitas == null || !Model.Visitas.Any())
{
    <strong>Nenhuma visita cadastrada.</strong>
}
else
{
    <h3>Resumo das visitas</h3>

    <h5>Total de visitas = @Model.Visitas.Count()</h5>
    <h5>Visitas canceladas = @Model.Visitas.Count(x => x.StatusVisita == StatusVisita.Cancelada)</h5>
    <h5>Visitas pendentes = @Model.Visitas.Count(x => x.StatusVisita == StatusVisita.Pendente)</h5>
    <h5>Visitas confirmadas = @Model.Visitas.Count(x => x.StatusVisita == StatusVisita.Confirmada)</h5>

    <br/>

    <h4>Últimas visitas:</h4>
    
    foreach (VisitaVm item in Model.Visitas)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@item.CuidadorNome</h3>
            </div>
            <div class="panel-body">
                <p>Data: @item.DataVisita.ToStringDateFriendly()</p>
                <p>Status: @item.StatusVisita</p>
                @if (item.StatusVisita == StatusVisita.Cancelada)
                {
                    <p>Justificativa: </p>
                    <p>@item.Justificativa</p>
                }
                <a href="@Url.Action("Detalhes", "Visita", new {id = item.Id})" class="btn btn-info pull-right"><i class="fa fa-plus"></i> Detalhes</a>
                @if (item.StatusVisita == StatusVisita.Pendente || item.StatusVisita == StatusVisita.Confirmada)
                {
                    <a data-modal data-modaltitle="Cancelar visita" href="@Url.Action("Cancelar", "Visita", new {id = item.Id})" 
                       style="margin-left: 5px;" class="btn btn-danger pull-right">
                        <i class="fa fa-close"></i> Cancelar
                    </a>
                }
            </div>
        </div>
    }
}